[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Open .merccz Archive
Comment=A competition scoring and timing software
Exec=merccc --ask-font -z %f
Icon=/usr/lib/merccc/appicon.png
Terminal=false
MimeType=application/zip
